<div class="post-comments">
  <header>
    <h3 class="h6">Post Comments<span class="no-of-comments">({{ comments.length }})</span></h3>
  </header>
  <div class="comment" *ngFor="let comment of comments">
    <div class="comment-header d-flex justify-content-between">
      <div class="user d-flex align-items-center">
        <div class="image"><img src="/assets/img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
          <strong>{{ comment.author }}</strong>
          <span class="date">{{ comment.created_at_humans }}</span></div>
      </div>
    </div>
    <div class="comment-body">
      <p>{{ comment.content }}</p>
    </div>
  </div>
</div>
