<section class="featured-posts">
  <div class="container">
    <div class="col-lg-12">
      <a [routerLink]="['/fb/login']" [queryParams]="{appId:'1000'}" data-appId="1000">
        <div class="row d-flex align-items-stretch fb-app">
          <div class="image col-lg-5">
            <img alt="..." width="100%"
                 src="/assets/img/lambo.jpg">
          </div>
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    <a href="/fb/apps">FACEBOOK APP
                  </a>
                  </div>
                  <a>
                    <h2 class="h4">Çfare automjeti do te keni pas 10 vitesh?</h2></a>
                </header>
                <p>Zbuloni makinen tuaj te ardhshme. Kliko dhe luaj!</p>
                <footer class="post-footer d-flex align-items-center">
                  <a class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img alt="..." class="img-fluid" src="/assets/img/user.svg"></div>
                    <div class="title"><span>Admin</span></div>
                    <span>FACEBOOK APP</span>
                  </a>
                  <button class="play-btn pull-right btn btn-lg btn-primary">LUAJ</button>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
