<div class="add-comment">
  <header>
    <h3 class="h6">Ler nje koment</h3>
  </header>
  <form action="#" class="commenting-form">
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" name="name" id="username" placeholder="Emri" class="form-control" [(ngModel)]="userName">
      </div>
      <div class="form-group col-md-6">
        <input type="email" name="email" id="useremail" placeholder="Adresa Email (nuk do te publikohet)"
               class="form-control" [(ngModel)]="userEmail">
      </div>
      <div class="form-group col-md-12">
        <textarea name="comment" id="usercomment" placeholder="Shkruaj komentin tend" class="form-control"
                  [(ngModel)]="userComment"></textarea>
      </div>
      <div class="form-group col-md-12">
        <button type="submit" class="btn submit" (click)="submitComment()">Shto</button>
      </div>
    </div>
  </form>
</div>
