<section class="featured-posts no-padding-top">
  <div class="container">
    <div class="col-lg-12">
      <!-- Post-->
      <div class="row d-flex align-items-stretch" *ngFor="let post of posts; let i = index">
        <div class="image col-lg-5" *ngIf="i%2==0"><img [src]="post.thumb_md" alt="..."></div>
        <div class="text col-lg-7">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                <div class="category">
                  <a [routerLink]="['/category', category.slug]" *ngFor="let category of post.categories">{{
                    category.name }}
                  </a>
                </div>
                <a [routerLink]="['/post', post.slug]">
                  <h2 class="h4">{{ post.title }}</h2></a>
              </header>
              <p>{{ post.small_content }}</p>
              <footer class="post-footer d-flex align-items-center">
                <a class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/user.svg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{ post.author }}</span></div>
                </a>
                <div class="date"><i class="icon-clock"></i> {{ post.created_at_humans }}</div>
                <div class="comments"><i class="icon-comment"></i>{{ post.comments_nr }}</div>
              </footer>
            </div>
          </div>
        </div>
        <div class="image col-lg-5" *ngIf="i%2==1"><img [src]="post.thumb_md" alt="..."></div>
      </div>
    </div>
  </div>
</section>
