.navbar .navbar-nav a.nav-link.active {
  border-bottom: 2px solid deeppink;
  color: #333;
  font-weight: 300;
}

.navbar .navbar-nav a.nav-link {
  color: #333;
}

.navbar {
  border: none;
  background: #fff;
  z-index: 8;
}
